archblog/migrations/__pycache__/
sql.txt
test.png
db.sqlite3
.metadata
archblog/__pycache__/*
EducArch/__pycache__/*
presentation/*
dotfile.dot
.metadata/*
bin/
lib/
lib/*
lib64/*
lib/python3.12/*
lib64/python3.12/
pyvenv.cfg
lib/
lib*
