{% extends 'archblog/base.html' %}
{% load static %}

{% block title %}Espace etudiant{% endblock %}
{% block body %}
<div class="container">
	<div class="page-header">
		<h1>Bienvenue sur votre espace étudiant</h1>
	</div>
	<p>Sur cet espace vous pouvez proposer une archive ou soumettre une question aux professeur.</p>
	<div class="col-lg-6">
	<div class="view view-first">
		<a href="{% url 'archblog:article' %}">
              <img src={% static "archblog/images/article.png" %} class="img-responsive"/>
                <div class="mask">
                	<h2><strong>Proposer un article</strong></h2>
                  <p>Ecrire un article </p>
				</div>
		</a>
	</div>
	<div class="view view-first">
	<a href="{% url 'archblog:question' %}">
		<img src={% static "archblog/images/question.jpg" %} class="img-responsive"/>
                <div class="mask">
                	<h2><strong>Poser une question</strong></h2>
                  <p>Poser votre question aux professeurs</p>
              </div>
	</a>
	</div>
</div>
	<div class="view view-first">
<a href="{% url 'archblog:signup' %}">
	<img src={% static "archblog/images/inscription.jpg" %} class="img-responsive"/>
	<div class="mask"> 
	<h2><strong>Inscrivez-vous</strong></h2>
	<p>Vous pouvez vous inscrire via cette page web</p>
	</div>
</a>
</div>
	<div class="view view-first">
<a href="{% url 'login' %}">
	<img src={% static "archblog/images/connexion.jpg" %} class="img-responsive"/>
	<div class="mask">
	<h2><strong>Connexion</strong></h2>
	<p>Vous pouvez vous inscrire via cette page web</p>
	</div>
</a>
	</div>
</div>
</div>
{% endblock %}